{sub_dirs, ["rel"]}.

{erl_opts, 
    [
        {parse_transform, lager_transform},
        {i, "test"},
        {src_dirs, ["src"]},
        debug_info
    ]
}.
 
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "3.0.1"}}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {tag, "0.5"}}}
]}.
