[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
 ]},

 {lager, [
      %% What handlers to install with what arguments
      {handlers, [
          {lager_console_backend, critical},
          {lager_file_backend, [
              {file, "log/error_log/error.log"}, {level, '=error'}]},
          {lager_file_backend, [
              {file, "log/warning_log/warning.log"}, {level, '=warning'}]},
          {lager_file_backend, [
              {file, "log/notice_log/notice.log"}, {level, '=notice'}]},
          {lager_file_backend, [
              {file, "log/info_log/info.log"}, {level, '=info'}]},
          {lager_file_backend, [
              {file, "log/debug_log/debug.log"}, {level, '=debug'}]}
      ]}, 

      %% Whether to write a crash log, and where. Undefined means no crash logger.
      {crash_log, "log/crash_log/crash.log"},
      %% Whether to redirect error_logger messages into lager - defaults to true
      {error_logger_redirect, true},
      %% How many messages per second to allow from error_logger before we start dropping them
      {error_logger_hwm, 5}, 
      %% How big the gen_event mailbox can get before it is switched into sync mode
      {async_threshold, 100}
 ]}
].

